<!-- Navbar -->
<div class="navbar-area absolute left-0 right-0 top-0 h-auto z-[3] py-[28px]"
    [ngClass]="{'white-navbar': router.url === '/' || router.url === '/index-2','half-white-navbar': router.url === '/', 'sticky': isSticky}">
    <div
        class="px-10 sm:px-0 2xl:px-25 3xl:px-[81px] mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[100%] 3xl:max-w-[1920px]">
        <nav class="navbar flex flex-wrap" [class.active]="classApplied">
            <a routerLink="/" class="self-center" [ngClass]="{'hidden': router.url === '/'}">
                <img src="assets/images/logo1.png" alt="logo">
            </a>
            <a routerLink="/" class="self-center hidden" [ngClass]="{'inline-block': router.url === '/'}">
                <img src="assets/images/logo1.png" alt="white-logo">
            </a>


            <!-- Sidebar -->
            <div class="sidebar fixed left-0 right-0 top-0 bottom-0 z-[9991] transition-all"
                [class.active]="sidebarClassApplied">
                <div class="bg-white w-full md:w-[500px] lg:w-[600px] absolute top-0 bottom-0 right-0">
                    <div class="flex justify-between items-center py-25 px-30 border-b border-[#eeeeee]">
                        <h3 class="text-[20px] leading-none text-black font-bold">
                            Select location
                        </h3>
                        <button
                            class="inline-block rounded-full w-40 h-40 text-[24px] p-0 text-black text-center bg-gray transition-all hover:bg-warning"
                            type="button" (click)="sidebarToggleClass()">
                            <i class="ri-close-fill relative -top-[.5px]"></i>
                        </button>
                    </div>
                    <div class="py-40 px-30">
                        <div class="mb-25">
                            <span
                                class="block font-medium text-secondary text-[14px] md:text-[15px] lg:text-[16px] xl:text-[18px] mb-10">
                                Select your location
                            </span>
                            <select
                                class="block w-full text-[14px] md:text-[15px] lg:text-[16px] text-black font-medium border border-[#dddddd] rounded-[5px] px-15 py-[13px] cursor-pointer outline-0">
                                <option selected>
                                    United States
                                </option>
                                <option value="1">
                                    Japan
                                </option>
                                <option value="2">
                                    Switzerland
                                </option>
                                <option value="3">
                                    United Kingdom
                                </option>
                                <option value="4">
                                    Australia
                                </option>
                                <option value="5">
                                    Canada
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="py-25 px-30 border-t border-[#eeeeee] absolute left-0 right-0 bottom-0 text-center">
                        <button type="submit"
                            class="text-[14px] md:text-[15px] lg:text-[16px] bg-primary text-white rounded-full block w-full px-30 py-[14px] transition-all hover:bg-gray hover:text-primary">
                            Confirm Changes
                        </button>
                    </div>
                </div>
            </div>