<!-- Section For Only Home Demo - 2 -->
<div class=" ml-5 mr-5 py-60 md:py-80 lg:py-100 xl:py-130 bg-gray hidden" [ngClass]="{'block': router.url === '/'}">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="flex justify-between -mt-5 md:-mt-10 lg:-mt-15 mb-30 md:mb-40 lg:mb-50">
            <h2
                class="self-center text-black text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] font-bold lg:max-w-[780px] md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug">
                Aprenda consertar as principais marcas de <br>toca-discos e vitrolas.
            </h2>
            <div class="self-center mt-15 md:mt-20 lg:mt-0">
                <a routerLink="/send-money"
                    class="inline-block text-[13px] md:text-[14px] lg:text-[15px] text-black bg-warning border-warning border font-semibold py-[12px] px-30 rounded-full transition-all hover:bg-primary hover:text-white hover:border-primary">
                    Veja todas marcas
                </a>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 2xl:grid-cols-6 gap-25 lg:gap-30">
            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img src="assets/images/audio-technica.svg" class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="Conserte Audio-Technica">
                    <a routerLink="/send-money" class="self-center text-black text-[16px] 2xl:text-[17px] inline-block">
                        Audio-Technica
                    </a>
                </div>
            </div>
            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img src="assets/images/technics-1.svg" class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="Conserte Technics">
                    <a routerLink="/send-money" class="self-center text-black text-[16px] 2xl:text-[17px] inline-block">
                        Technics
                    </a>
                </div>
            </div>
            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img src="assets/images/thorens.svg" class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="Conserte Thorens">
                    <a routerLink="/send-money" class="self-center text-black text-[16px] 2xl:text-[17px] inline-block">
                        Thorens
                    </a>
                </div>
            </div>
            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img src="assets/images/pioneer-2.svg" class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="Conserte Pioneer">
                    <a routerLink="/send-money" class="self-center text-black text-[16px] 2xl:text-[17px] inline-block">
                        Pioneer
                    </a>
                </div>
            </div>
            <div>
                <div class="flex bg-white rounded-[100px] p-[12px]">
                    <img src="assets/images/sony-2.svg" class="w-[56px] h-[56px] rounded-full mr-20 self-center"
                        alt="Conserte Sony">
                    <a routerLink="/send-money" class="self-center text-black text-[16px] 2xl:text-[17px] inline-block">
                        Sony
                    </a>
                </div>
            </div>

        </div>
    </div>