<div class="py-60 md:py-80 lg:py-100 xl:py-130 bg-primary bg-subscribe bg-center bg-no-repeat bg-cover relative z-2">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="text-center mx-auto md:max-w-[600px] lg:max-w-[780px] xl:max-w-[800px]">
            <h2
                class="text-white font-bold text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug -mt-5 md:-mt-10 md:-mt-[12px] mb-30 md:mb-40 lg:mb-50">
                Se torne um mestre na arte do cuidado de <br>toca-discos e vitrolas.
            </h2>
            <div class="flex justify-center items-center h-full">
                <a href="https://www.seulinkexterno.com" target="_blank"
                    class="bg-warning text-black font-semibold text-[14px] md:text-[16px] lg:text-[18px] xl:text-[20px] rounded-full py-[14px] px-40 transition-all hover:bg-white">
                    Compre Agora
                </a>
            </div>
        </div>
    </div>
</div>