<div class="py-60 md:py-80 lg:py-100 xl:py-130" [ngClass]="{'bg-gray': router.url === '/index-2'}">
    <div class="px-10 sm:px-0 container mx-auto">
        <h2
            class="text-black text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] font-bold lg:mx-auto lg:max-w-[780px] text-center md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug -mt-5 md:-mt-10 lg:-mt-15 mb-30 md:mb-40 lg:mb-50">
            Um comparativo por que somos a melhor opção para você
        </h2>
        <div class="overflow-x-auto">
            <table class="w-full text-center whitespace-nowrap text-black text-[14px] md:text-[15px]">
                <thead>
                    <tr>
                        <th
                            class="text-left font-medium py-25 px-20 md:py-30 md:px-25 lg:py-40 lg:px-30 xl:py-50 xl:px-40">
                            Comparativo em Horas de Conteúdo Especifíco
                        </th>
                        <th class="bg-warning py-25 px-20 md:py-30 md:px-25 lg:py-40 lg:px-30 xl:py-50 xl:px-40">
                            <img src="assets/images/subscription-comparison/arad.png" class="inline" alt="logo">
                        </th>
                        <th class="py-25 px-20 md:py-30 md:px-25 lg:py-40 lg:px-30 xl:py-50 xl:px-40">
                            <img src="assets/images/subscription-comparison/monese.png" class="inline"
                                alt="Curso de Eletrônica Analógica">
                        </th>
                        <th class="py-25 px-20 md:py-30 md:px-25 lg:py-40 lg:px-30 xl:py-50 xl:px-40">
                            <img src="assets/images/subscription-comparison/remitly.png" class="inline"
                                alt="Curso de Eletrônica Digital">
                        </th>
                        <th class="py-25 px-20 md:py-30 md:px-25 lg:py-40 lg:px-30 xl:py-50 xl:px-40">
                            <img src="assets/images/subscription-comparison/western-union.png" class="inline"
                                alt="Curso de Reparo de Som">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-white': router.url === '/index-2'}">
                            <span class="block font-medium">
                                Conteúdo sobre Toca-Discos e Vitrola
                            </span>
                            <span class="block text-[12px] mt-5 md:mt-10">
                                (Total em horas)
                            </span>
                        </td>
                        <td
                            class="bg-warning px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]">
                            <span class="block font-semibold text-[16px] md:text-[18px] lg:text-[20px]">
                                200h
                            </span>
                            <span class="inline-block relative text-success text-[14px] md:text-[16px] mt-[7px] pl-25">
                                <i
                                    class="ri-arrow-up-s-fill mt-[1px] absolute text-[24px] md:text-[25px] leading-none left-0 top-1/2 -translate-y-2/4"></i>
                                + 20h
                            </span>
                        </td>
                        <td class="bg-[#fcfee8] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-[#eeffdd]': router.url === '/index-2'}">
                            <span class="block font-semibold text-[16px] md:text-[18px] lg:text-[20px]">
                                5h
                            </span>
                            <span class="inline-block relative text-danger text-[14px] md:text-[16px] mt-[7px] pl-25">
                                <i
                                    class="ri-arrow-down-s-fill mt-[1px] absolute text-[24px] md:text-[25px] leading-none left-0 top-1/2 -translate-y-2/4"></i>
                                - 15h
                            </span>
                        </td>
                        <td class="bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-white': router.url === '/index-2'}">
                            <span class="block font-semibold text-[16px] md:text-[18px] lg:text-[20px]">
                                10h
                            </span>
                            <span class="inline-block relative text-danger text-[14px] md:text-[16px] mt-[7px] pl-25">
                                <i
                                    class="ri-arrow-down-s-fill mt-[1px] absolute text-[24px] md:text-[25px] leading-none left-0 top-1/2 -translate-y-2/4"></i>
                                - 10h
                            </span>
                        </td>
                        <td class="bg-[#fcfee8] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-[#f9fcdd]': router.url === '/index-2'}">
                            <span class="block font-semibold text-[16px] md:text-[18px] lg:text-[20px]">
                                2h
                            </span>
                            <span class="inline-block relative text-danger text-[14px] md:text-[16px] mt-[7px] pl-25">
                                <i
                                    class="ri-arrow-down-s-fill mt-[1px] absolute text-[24px] md:text-[25px] leading-none left-0 top-1/2 -translate-y-2/4"></i>
                                - 18h
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-white': router.url === '/index-2'}">
                            <span class="block font-medium">
                                Conteúdo Prático
                            </span>
                        </td>
                        <td
                            class="bg-warning px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]">
                            <span class="block font-medium">
                                Sim
                            </span>
                        </td>
                        <td class="bg-[#fcfee8] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-[#eeffdd]': router.url === '/index-2'}">
                            <span class="block font-medium">
                                Não
                            </span>
                        </td>
                        <td class="bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-white': router.url === '/index-2'}">
                            <span class="block font-medium">
                                Não
                            </span>
                        </td>
                        <td class="bg-[#fcfee8] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-[#f9fcdd]': router.url === '/index-2'}">
                            <span class="block font-medium">
                                Limitado
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-white': router.url === '/index-2'}">
                            <span class="block font-medium">
                                Suporte Personalizado
                            </span>
                        </td>
                        <td
                            class="bg-warning px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]">
                            <span class="relative inline-block font-medium pr-15">
                                Sim
                                <span
                                    class="block w-[7px] h-[7px] bg-success rounded-full absolute right-0 top-1/2 -translate-y-2/4"></span>
                            </span>
                        </td>
                        <td class="bg-[#fcfee8] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-[#eeffdd]': router.url === '/index-2'}">
                            <span class="relative inline-block font-medium pr-15">
                                Fórum online
                                <span
                                    class="block w-[7px] h-[7px] bg-danger rounded-full absolute right-0 top-1/2 -translate-y-2/4"></span>
                            </span>
                        </td>
                        <td class="bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-white': router.url === '/index-2'}">
                            <span class="relative inline-block font-medium pr-15">
                                Fórum online
                                <span
                                    class="block w-[7px] h-[7px] bg-danger rounded-full absolute right-0 top-1/2 -translate-y-2/4"></span>
                            </span>
                        </td>
                        <td class="bg-[#fcfee8] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70 border-b border-[#eeeeee]"
                            [ngClass]="{'bg-[#f9fcdd]': router.url === '/index-2'}">
                            <span class="relative inline-block font-medium pr-15">
                                Não
                                <span
                                    class="block w-[7px] h-[7px] bg-danger rounded-full absolute right-0 top-1/2 -translate-y-2/4"></span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70"
                            [ngClass]="{'bg-white': router.url === '/index-2'}">
                            <span class="block font-medium">
                                Certificado de Conclusão
                            </span>
                        </td>
                        <td class="bg-warning px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70">
                            <span class="text-[14px] md:text-[15px] font-medium">
                                Sim
                            </span>
                        </td>
                        <td class="bg-[#fcfee8] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70"
                            [ngClass]="{'bg-[#eeffdd]': router.url === '/index-2'}">
                            <span class="text-[14px] md:text-[15px] font-medium">
                                Sim
                            </span>
                        </td>
                        <td class="bg-[#f1f3f0] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70"
                            [ngClass]="{'bg-white': router.url === '/index-2'}">
                            <span class="text-[14px] md:text-[15px] font-medium">
                                Não
                            </span>
                        </td>
                        <td class="bg-[#fcfee8] px-20 py-25 md:px-25 md:py-40 lg:px-30 lg:py-50 xl:px-40 xl:py-70"
                            [ngClass]="{'bg-[#f9fcdd]': router.url === '/index-2'}">
                            <span class="text-[14px] md:text-[15px] font-medium">
                                Não
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>