<div class="ml-5 mr-5 pb-60 md:pb-80 lg:pb-100 xl:pb-130 bg-gray">
    <div class="px-10 sm:px-0 container mx-auto">
        <h2
            class="text-[24px] md:text-[28px] lg:text-[34px] xl:text-[40px] 2xl:text-[50px] text-black font-bold md:max-w-[740px] md:-tracking-[.5px] lg:-tracking-[1px] xl:-tracking-[1.6px] leading-snug mb-30 md:mb-40 lg:mb-60 xl:mb-80 -mt-5 md:-mt-10 lg:-mt-15">
            75,000 aparelhos reparados pelo professor. Um conhecimento que não se aprende em livros.
        </h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-20 md:gap-20">
            <div class="self-center">
                <img src="assets/images/1r.svg" alt="Toca-Disco">
            </div>
            <div class="self-center">
                <img src="assets/images/2r.svg" alt="Toca-Disco">
            </div>
            <div class="self-center">
                <img src="assets/images/3r.svg" alt="Toca-disco">
            </div>
            <div class="self-center">
                <img src="assets/images/4r.svg" alt="Toca-disco">
            </div>
        </div>
    </div>
</div>