<footer class="bg-gray pt-60 md:pt-80 lg:pt-100 xl:pt-130">
    <div class="px-10 sm:px-0 container mx-auto">
        <div class="grid lg:grid-cols-2 gap-25">
            <div class="lg:pr-[110px]">
                <a routerLink="/" class="logo inline-block">
                    <img src="assets/images/logo1.png" alt="logo">
                </a>
                <h3
                    class="text-black text-[20px] md:text-[22px] lg:text-[24px] font-medium md:max-w-[305px] mt-[15px] md:mt-[60px] lg:mt-100 xl:mt-[128px] leading-[1.3] mb-15 md:mb-20">
                    Mestre na arte de cuidado com toca-discos e vitrolas.
                </h3>

            </div>
            <div class="lg:-ml-[110px]">
                <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-25">
                    <div>
                        <h3 class="font-medium text-black text-[15px] md:text-[16px] mb-[12px] md:mb-15">
                            A empresa
                        </h3>
                        <ul>
                            <li class="mb-10 md:mb-[13px] last:mb-0">
                                <a routerLink="/help"
                                    class="text-[14px] md:text-[15px] text-secondary transition-all hover:text-primary relative before:left-0 before:right-0 before:bottom-0 before:h-[1px] before:bg-[#b5b2b2] before:absolute">
                                    Sobre
                                </a>

                        </ul>
                    </div>
                    <div class="3xl:pl-[63px]">
                        <h3 class="font-medium text-black text-[15px] md:text-[16px] mb-[12px] md:mb-15">
                            Nossos produtos
                        </h3>
                        <ul>
                            <li class="mb-10 md:mb-[13px] last:mb-0">
                                <a routerLink="/services"
                                    class="text-[14px] md:text-[15px] text-secondary transition-all hover:text-primary relative before:left-0 before:right-0 before:bottom-0 before:h-[1px] before:bg-[#b5b2b2] before:absolute">
                                    Curso Conserto: Toca-discos e Vitrolas.
                                </a>
                            </li>


                        </ul>
                    </div>
                    <div class="3xl:pl-[115px]">
                        <h3 class="font-medium text-black text-[15px] md:text-[16px] mb-[12px] md:mb-15">
                            Suporte
                        </h3>
                        <ul>
                            <li class="mb-10 md:mb-[13px] last:mb-0">
                                <a routerLink="/faq"
                                    class="text-[14px] md:text-[15px] text-secondary transition-all hover:text-primary relative before:left-0 before:right-0 before:bottom-0 before:h-[1px] before:bg-[#b5b2b2] before:absolute">
                                    Contato
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="3xl:pl-[110px]">
                        <h3 class="font-medium text-black text-[15px] md:text-[16px] mb-[12px] md:mb-15">
                            Nossas Redes
                        </h3>
                        <a href="https://wa.me/5571986824959"
                            class="leading-none mr-[12px] last:mr-0 text-[24px] inline-block text-secondary transition-all hover:text-primary"
                            target="_blank">
                            <i class="ri-whatsapp-fill"></i>
                        </a>
                        <a href="https://twitter.com/"
                            class="leading-none mr-[12px] last:mr-0 text-[24px] inline-block text-secondary transition-all hover:text-primary"
                            target="_blank">
                            <i class="ri-youtube-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/jeremias.som_"
                            class="leading-none mr-[12px] last:mr-0 text-[24px] inline-block text-secondary transition-all hover:text-primary"
                            target="_blank">
                            <i class="ri-instagram-fill"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-t border-[#dddddd] mt-60 md:mt-80 pt-25 md:pt-30 pb-25 md:pb-60">
            <div class="grid lg:grid-cols-2 gap-15 md:gap-25">
                <div>
                    <p class="text-[14px] md:text-[15px] text-secondary">
                        Todos direitos reservados
                        <a href="https://jeresom.com.br" target="_blank"
                            class="inline text-black font-semibold transition-all hover:text-primary">
                            Jeremias.Som
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</footer>